
<div class="cta-new-main">

	<div class="cta-new-left-panel">
		<h1>New Call To Action</h1>
		<%= link_to 'Back', user_path(current_user) %>
		<%= render 'form', call_to_action: @call_to_action %>
	</div>
	
	<div class="cta-new-right-panel">
		<iframe src="https://www.nextacademy.com" frameborder="0" width="100%" height="100%"></iframe>
	
	<!-- Live display of CTA -->
		<div id="cta-container">
			<div class="cta-new-live" id="cta-new-live">
				<div class="cta-new-live-logo">
					<%= image_tag("clipit-logo.png", width:"50px", height:"50px", id:"brand-output") %>
				</div>
				<div class="cta-new-live-middlebox">
					<div class="cta-new-live-name">
						<p id="cta-new-live-name">Clip It Today!</p>
					</div>
					<div class="cta-new-live-description">
						<h6><strong id="desc-output">
							Create your Call To Action Today! (Psst... max 85 characters only)
						</strong></h6>
					</div>
				</div>
				<div class="cta-new-live-endbox">
					<div class="cta-new-live-close">
						<p>X</p>
					</div>
					<div class="cta-new-live-button">
						<a href="#" target="_blank" id="button-link-live">
							<button class="btn" id="btn-text-output">check it out</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</div>
