<h1>New Call To Action</h1>
<div class="cta-new-main">

	<div class="cta-new-left-panel">
		<%= link_to 'Back', user_path(current_user) %>
		<%= render 'form', call_to_action: @call_to_action %>
	</div>
	
	<div class="cta-new-right-panel">
		<iframe src="https://www.nextacademy.com" frameborder="0" width="100%" height="100%"></iframe>
	
	<!-- Live display of CTA -->
		<div class="cta-new-live" id="cta-new-live">
			<div class="cta-new-live-logo">
				<h3>Clip It</h3>
			</div>
			<div class="cta-new-live-middlebox">
				<div class="cta-new-live-name">
					<p>Next Academy</p>
				</div>
				<div class="cta-new-live-description">
					<h6><strong id="desc-output">
						Test writing something here and also something else here until i cannot contain textaaa
					</strong></h6>
				</div>
			</div>
			<div class="cta-new-live-endbox">
				<div class="cta-new-live-close">
					<p>X</p>
				</div>
				<div class="cta-new-live-button">
					<a href="#" target="_blank" id="page-link-live">
						<button class="btn" id="btn-text-output">check it out</button>
					</a>
				</div>
			</div>

		</div>
	</div>
	

</div>
