// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.brand-item {
	// border: 1px solid black;
	box-shadow: 10px 10px 10px grey, -1px -1px 5px grey; 
	margin: 20px 10px;
	// border-top: 0.5px solid black;
	// border-left: 0.5px solid black;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	transition: 0.5s;
}

.brand-item:hover {
	// border: 1px solid black;
	box-shadow: 10px 10px 10px grey, -1px -1px 5px grey; 
	margin: 20px 10px;
	// border-top: 0.5px solid black;
	// border-left: 0.5px solid black;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: scale(1.2);
	background-color: white;
	z-index: 99;
	transition: 0.5s;
}

.brand-items-edits {
	display: flex;
}

.brand-items-edits input {
	margin: 0 5px;
}

// new brand form 

.new-brand-form {
	width: max-content;
	position: fixed;
	z-index: 99;
	background-color: white;
	box-shadow: 5px 5px 10px black;
	border-radius: 10px;
	left: 50%;
	top: 25%;
	transform: translate(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-brand-form-title {
	text-align: center;
	background-color: #F7EBC9;
	height: 30%;
	width: 100%;
	padding: 15px;
	color: #474741;
	border-radius: 10px 10px 0 0;
	display: flex;
	flex-direction: column;
}

.close-button-container {
	display: flex;
	justify-content: flex-end;
}

#close-button {
	transition: 0.5s;
}

#close-button:hover {
	transform: scale(1.5);
	transition: 0.5s;
	color: inherit;
}

.new-brand-form-form {
	padding: 25px;
}

.form-lightbox {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 90;
	background-color: rgba(45, 45, 45, 0.8);
	display: none;
}
