// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dashboard-main {
	display: flex;
	width:100%;
	height: 850px;
}

.dashboard-sub-left {
	height:100%;
	width: 20%;
	background-color: #F7EBC9;
	text-align: center;
	padding-top: 50px;
	display:flex;
	flex-direction: column;
	padding-left: 2%;
	align-items: flex-start;

}

.dashboard-sub-left div h3 {
	margin-left:15%;
	margin-top: 15px;
	width: 100%;
}
.dashboard-sub-right {
	width:80%;
	height: 100%;
	padding: 50px 5% 50px 5%;
}


.dashboard-sub-left-menu div {
	display: flex;
	justify-content: flex-start;
	margin-left:40%;
	width:100%;
}

.dashboard-main-statistics {
	display:flex;
	justify-content: space-around;
}

.dashboard-main-statistics div {
	display:flex;
	flex-direction: column;
}

.dashboard-main-statistics div div {
	text-align: center;
}

#statistic-font {
	font-size: 3em;
	padding: 25px 0;
}

// Dashboard CTA listing 

.dashboard-cta-title {
	display:flex;
	width: 100%;
	border-bottom: 3px solid black;
	margin-top: 50px;
}

#dashboard-cta-title-text {
	display:flex;
	justify-content: flex-start;
}

#dashboard-cta-title-btn {
	display:flex;
	justify-content: flex-end;
}

.dashboard-cta-headers {
	width: 100%;
	border-bottom: solid 1.5px black;
	margin-top: 25px;
}

.dashboard-cta-headers div {
	text-align: center;
	font-weight:bold;
}

.dashboard-cta-headers div p {
	font-size: 1.25em;
}

.dashboard-cta-header.row {
	margin-left:0;
}

.dashboard-cta-list {
	text-align: center;
	background-color: #ECEFF2;
	margin: 10px 0; 
	height: 50px;
}

.dashboard-cta-list div p {
	line-height: 50px;
	font-size: 1.3em;
}

#dashboard-cta-list-num {
	padding:0;
}

#dashboard-cta-list-num p {
	background-color: #5A6978;
	font-size: 1.5em;
	color:white;
	margin:0;
	font-weight: strong;
}

.row {
	margin-left: 0;
}

#dashboard-cta-list-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

// Dashboard Clips Listing


